.App {
  margin: 0 auto;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  margin-bottom: 20px;
  padding: 15px 0;
  background: #eeee;
}
header ul {
  margin: 0;
  padding: 0;
}
header ul li {
  padding: 10px;
  list-style-type: none;
  display: inline-block;
}
main form {
  margin: 0 auto;
  max-width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-authorization {
  margin: 0 auto;
  padding: 15px 25px;
  max-width: 500px;
  box-shadow: 1px 2px 10px rgba(230,230,230,.8);
}
.form-authorization div {
  margin: 5px 0;
}